/* Font */
@font-face {
  font-family: Friz-Quadrata;
  src: url("/Friz Quadrata Bold.otf") format("opentype");
}

.artistNav {
  width: 40vh;
  height: auto;
  float: left;
  text-align: center;
  text-decoration: none!important;
  color: black !important;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
}

.border {
  border-right: 1px solid black;
  height: auto;
}

.navlogo {
  width: 1vw;
  margin: 0px 15px;
  padding-top: 10px;
}

.blurb {
  font-size: 10px;
  text-align: justify;
  font: arial;
  padding-bottom: 1vw;
}

h1 {
  font-size: 30px;
  font-family: Friz-Quadrata;
  padding-bottom: 1px;

}

h2 {
  font-size: 20px;
  font-family: Friz-Quadrata;

}

.srlogo {
  width: 10vw;
}

.srsoclogo {
  width: 4vw;
  padding: .2vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hypelink {
  text-decoration: none;
  color: black;
}

ul {
  padding-inline-start: 0px
}

@media (max-width: 800px) {

  .border {
    border-right: 0px solid black;  
    border-bottom: 1px solid black;
  }

  .artistNav {
    width: 100%;
    height: auto;

    float: top;
    text-align: center;
    text-decoration: none!important;
    color: black !important;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
  }

  ul {
    width: auto;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .title {
    float: right;
  }

  .srlogo {
    width: 35vw;
    float: left;
  }
  
  .blurb {
    font-size: 9px;
    text-align: justify;
    font: arial;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 3vw;

  }

  .srsoclogo {
    width: 15vw;
    padding: .2vw;
  }

  .socialcontainer{
    

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding-bottom: 20vw;
  }


}